
<div class="user-details text-center py-3" *ngIf="selectedUser">
    <button (click)="hideDetails()" type="button" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    <div class="image mt-5 mb-3"><img src="{{selectedUser.avatar}}"></div>
    <h4>{{selectedUser.first_name}} {{selectedUser.last_name}}</h4>
  <button class="btn btn-sm" (click)="openDelete()"><i class="fa fa-trash" aria-hidden="true"></i>Delete</button> 
  <button class="btn btn-sm" (click)="openEdit()"><i class="fa fa-pencil" aria-hidden="true"></i>Edit</button>
 </div>
 <app-delete-user (onDelete)="loadAllUsers()" #deleteUserPopUp></app-delete-user>
<app-edit (onEdit)="loadAllUsers()" #editPopUp></app-edit>