.user-details{
    box-shadow: -2px 0 4px 0 rgba(0, 0, 0, 0.2);
    background-color: #f5f5f5;
    height: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.user-details img{
    display: block;
    margin: auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 20px auto;
}

button{
    color: #8e44ad;
    border: 1px solid #8e44ad;
    background: #fff;
    padding: 5px 20px;
    font-size: 12px;
}

button i{
    margin-right: 5px;
}

h4{
    color: #34495e
}

.close{
    font-size: 20px;
    border: none;
    background: none;
}

