<app-modal-basic #basicModel  [contentHeight]="100" [modelType]=1>


    <div class="app-modal-body text-left">
        <img [src]="userToUpdate.avatar">
      <form [formGroup]="editForm" >
        <div class="form-group">
          <label for="exampleInputusername1">name</label>
          <input type="username" class="form-control" formControlName="name" id="exampleInputusername1" aria-describedby="usernameHelp" placeholder="name..."[ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
          <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
              <div *ngIf="f.name.errors.required">name is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="exampleInputJob">Job</label>
          <input type="job" class="form-control" formControlName="job" id="exampleInputjob1" placeholder="Job Title..." />

        </div>
        </form>
    </div>
    <div class="app-modal-footer text-center">
      <div class="modalControlBtns">
        <button type="button" class="btn btn-sm px-5" data-dismiss="modal" (click)="basicModel.hide()">Cancel</button>

        <button  (click)="edit(user)" class="btn btn-sm px-5" type="button" [disabled]="loading">
          <span class="spinner-border align-middle spinner-border-sm" role="status" aria-hidden="true" [hidden] = "!loading"></span>
          <span class="sr-only"  [hidden] = "!loading">Loading...</span>
          yes
        </button>
      </div>
    </div>
  </app-modal-basic>