﻿<div class="alert-dismissible" role="alert" *ngIf="message" data-auto-dismiss="2000"
[ngClass]="{ 'alert': message, 'alert-success': message.type === 'success', 'alert-danger': message.type === 'error' }">
<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>

{{message.text}}</div>