<app-navbar></app-navbar>
<section class="login">
  <div class="container">
    <div class="loginForm">
      <div class="row no-gutters">
        <div class="col-6 d-none d-sm-block">
          <img src="../assets/img/B53704A6-DAF9-415E-A6DE-74C2586E68A0.png">
        </div>
        <div class="col-sm-12 col-md-6  my-auto col-lg-6 col-xl-6 ">
          <div class="form-cont  px-3">
          <div>
              <h3 class="Welcome-back">Welcome back! </h3>
              <h5>Please login to access your <span>Spaces</span> Dashboard</h5>
          </div>
          <form [formGroup]="loginForm"  class="pt-3">
              <div class="form-group">
                <label for="exampleInputEmail1">Username</label>
                <input type="email" class="form-control" formControlName="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Username..."[ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Email is required</div>
                </div>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" formControlName="password" id="exampleInputPassword1" placeholder="*********" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                </div>
              </div>
              <a class="forgot-pass">Forgot Password</a>

              <button  (click) = "onSubmit()" class="btn btn-primary login-btn" type="button" [disabled]="loading">
                <span class="spinner-border align-middle spinner-border-sm" role="status" aria-hidden="true" [hidden] = "!loading"></span>
                <span class="sr-only"  [hidden] = "!loading">Loading...</span>
                login
              </button>

              <!-- <button type="submit" class="btn btn-primary login-btn">login</button> -->
            </form>
        </div>
      </div>
    </div>
    </div>
  </div>
</section>