<app-modal-basic #basicModel  [contentHeight]="100" [modelType]=1>
    <div class="app-modal-header text-center ">
      <h5 class="modal-title text-center" id="exampleModalLabel">Delete User</h5>
    </div>
    <div class="app-modal-body py-1 text-center">
      <p> Are You Sure To Delete this User</p>
      <strong>{{userToDelete?.first_name}} {{userToDelete?.last_name }}</strong>
    </div>
    <div class="app-modal-footer text-center">
      <div class="modalControlBtns">
        <button type="button" class="btn btn-sm px-5" data-dismiss="modal" (click)="basicModel.hide()">Cancel</button>
        <button type="button" class="btn btn-sm btn-primary px-5" (click)="delete(user)">Yes</button>
      </div>
    </div>
  </app-modal-basic>