<nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
  <div class="container">
    <a class="navbar-brand mt-2 mt-lg-0 float-left" href="#">
      <img src="../assets/img/logo.png" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarNav">

    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link">HOME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">ABOUT</a>

      </li>
      <li class="nav-item ">
        <a class="nav-link">CONTACT</a>

      </li>
      <li class="nav-item login" [hidden]="!showLogin">
        <a class="nav-link">LOGIN</a>

      </li>

      <li class="nav-item login" [hidden]="showLogin">
        <a class="nav-link" (click)="logout()">LOGOUT</a>
      </li>
    </ul>
    </div>
  </div>
</nav>