.navbar {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    font-weight: 900;
}

.navbar a {
    padding: 5px 25px;
    color: #34495e;
    cursor: pointer;
}

.navbar .login a {
    border-radius: 20px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    background-color: #8e44ad;
    color: #fff;
}