.bred{
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    background-color: #dedede;
}
.bred h6{
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #8e44ad;
}
.list-items{
    overflow-x: hidden;
    height: 500px;
    overflow-y: scroll;
    position: relative;
    background: #fff;
    border-radius: 10px;
}

.bred .add-btn{
    border-radius: 20px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    background-color: #8e44ad;
    color: #fff;
    padding: 5px 25px;
    float: right;
}

.bred h1{

    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #34495e;
}
.list-title{
    color: #7f8c8d;
    font-size: 12px;
}

.user img{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    margin-right: 10px;
}

.user .btn{
    background: #fff;
    border: 1px solid #8e44ad;
    border-radius: 5px;
    color: #8e44ad;
    margin-right: 5px;
}
.user .btn:hover{
    background: #8e44ad;

    color: #fff;
}
.spinner-border{
    color: #8e44ad;
    position: absolute;
    left: 50%;
    bottom: 10px;
}

.right-btn{
float: right;
font-size: 30px;
color:#8e44ad;
}

.colored{
    background: #8e44ad;
    color: #fff;
}