<app-navbar></app-navbar>

<div class="bred py-3">
  <div class="row">
    <div class="container">

      <h6 class="w-100">Home / Dashborad</h6>
      <div class="d-flex justify-content-start">
        <h1>Users List</h1>
        <div class="ml-auto align-middle p-0">
          <button (click)="openAdd()" class="btn btn-primary add-btn justify-content-end"><i class="fa fa-plus"
              aria-hidden="true"></i>
            Add user</button>
        </div>
      </div>

    </div>
  </div>

</div>
<section class="user-list my-3">

  <div class="container">
    <div class="list-items" (scroll)=" onScroll()">

          <div class="spinner-border" role="status" *ngIf="listLoading">
            <span class="sr-only">Loading...</span>
          </div>

      <div class="row no-gutters">
        <!-- {{user|json}} -->
        <div class="col-md-9" [ngClass]="{'col-md-9':openDetailsSec==true,'col-md-12':openDetailsSec==false}">

          <div class="row" *ngFor="let user of scrolledUsers">
            <div class="user d-flex w-100 p-3" [ngClass]="{'colored':user.viewDetails}">
              <div class="col-md-9 d-flex">
                <img [src]="user.avatar" />
                <h6 class="py-3">{{user.first_name}} {{user.last_name}}
                </h6>
              </div>
              <div class="col-md-3 pt-2">
                <button class="btn btn-sm" [hidden]="selectedUser?.viewDetails" (click)="openDelete(user)"><i
                    class="fa fa-trash" aria-hidden="true"></i></button>
                <button class="btn btn-sm" [hidden]="selectedUser?.viewDetails" (click)="openEdit(user)"><i
                    class="fa fa-pencil" aria-hidden="true"></i></button>
                <span (click)="showDetails(user)" class="justify-content-end right-btn"><i class="fa fa-angle-right"
                    aria-hidden="true"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3" [hidden]="!openDetailsSec">
            <app-user-details  #detailsSec (hideDetailsSec)="closeDetails()"></app-user-details >

        </div>

      </div>

    </div>
  </div>
</section>
<app-delete-user (onDelete)="loadAllUsers()" #deleteUserPopUp></app-delete-user>
<app-edit (onEdit)="loadAllUsers()" #editPopUp></app-edit>
<app-add (onAdd)="loadAllUsers()" #addPopUp></app-add>