/* You can add global styles to this file, and also import other style files */
*{
    font-family: 'Heebo', sans-serif;
}

body{
    background-color: #f5f5f5 !important;
    overflow-x: hidden;
 }

 
 .modal-content{
    border-radius: 10px !important;
}
.modal-content{
    border-radius: 10px !important;
}
